DJANGO_SECRET_KEY=replace-this-with-a-generated-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.x.x
DJANGO_CSRF_TRUSTED_ORIGINS=
USE_REDIS_CHANNEL_LAYER=False
REDIS_URL=redis://redis:6379/0
